
{% extends "base.html" %}
{% block body_block %}
{% load staticfiles %}
{}

<div class="container">
        <div class="row">
            <h1 style="font-family:Arial, Helvetica, sans-serif;">
                Content Store
            </h1>
        </div>
        <div class="row">
            <div class="col-lg-12 col-xs-12 content1">

            <h4>Got bulk order or almost similar orders ? Fill the order brief in  an excel sheet </h4>
            <br>
            If you're wondering about an easy way to place orders in large numbers,we provide a way customized just for that
            <br>
            Downnload our excel sheet,and fill the order brief in the prescibed format and submit. In case you need any help,we
            <br>
            <u>are just a click to assist you in placeing your order </u>
            
                <br>
                <br>
                <button class="btn btn-default button1" style="background-color:#FEF3F3;" >Order via Excel Sheet</button>
            </div>


        </div>
       <div class="row">
                                <div class="col-lg-4 center1">

                                    

                                    <div style="display: inline">
                                        <img src="{% static 'peacock.jpg'%}" style=" width: 60px ;height: 60px;" alt="logo2">
                                    </div>
                                    <div style="display: inline">
                                            &nbsp;&nbsp;
                                        <div style="display: inline ;"><b>Blog / Article</b> 
                                            <div style="margin-left:80px;margin-top: -20px;">
                                                from ₹ 500
                                            </div>
                                        </div>
                                    </div>
                                

                                
                                        <br>
                                        
                                        Typically 450-400 words,an e-book is
                                        <br>
                                        perfect for your target audience ranging <br>
                                        from prospective customers to user <br>
                                        <br>
                                        <button class="btn btn-default button1" >Order</button>
                                        
                                  </div>
                                    <div class="col-lg-4 center1">

                                        

                                            <div style="display: inline">
                                                <img src="{% static 'peacock.jpg'%}"  style=" width: 60px ;height: 60px;" alt="logo2">
                                            </div>
                                            <div style="display: inline">
                                                    &nbsp;&nbsp;
                                                <div style="display: inline ;"><b style="color:lightgray;">Newsletter / E-mailer</b> 
                                                    <div style="margin-left:80px;margin-top: -20px;">
                                                        from ₹ 500
                                                    </div>
                                                </div>
                                            </div>
                                        

                                        
                                        <br>
                                        
                                        Typically 450-400 words,an e-book is
                                        <br>
                                        perfect for your target audience ranging <br>
                                        from prospective customers to user <br>
                                        <br>
                                        <button class="btn btn-default button1" >Order</button>
                                        
                                </div>
                                <div class="col-lg-4 center1" style="border-right-width: 0px;">

                                        

                                        <div style="display: inline">
                                            <img src="{% static 'peacock.jpg'%}"  style=" width: 60px ;height: 60px;" alt="logo2">
                                        </div>
                                        <div style="display: inline">
                                                &nbsp;&nbsp;
                                            <div style="display: inline ;"><b>Whitepaper</b> 
                                                <div style="margin-left:80px;margin-top: -20px;">
                                                    from ₹ 500
                                                </div>
                                            </div>
                                        </div>
                                    

                                    
                                    <br>
                                    
                                    Typically 450-400 words,an e-book is
                                    <br>
                                    perfect for your target audience ranging <br>
                                    from prospective customers to user <br>
                                    <br>
                                    <button class="btn btn-default button1"  >Order</button>
                                    
                                </div>

        </div>
        <div class="row">
                <div class="col-lg-4 center1">

                    

                    <div style="display: inline">
                        <img src="{% static 'peacock.jpg'%}"  style=" width: 60px ;height: 60px;" alt="logo2">
                    </div>
                    <div style="display: inline">
                            &nbsp;&nbsp;
                        <div style="display: inline ;"><b>e-book</b> 
                            <div style="margin-left:80px;margin-top: -20px;">
                                from ₹ 500
                            </div>
                        </div>
                    </div>
                

                
                        <br>
                        
                        Typically 450-400 words,an e-book is
                        <br>
                        perfect for your target audience ranging <br>
                        from prospective customers to user <br>
                        <br>
                        <button class="btn btn-default button1" >Order</button>
                        
                  </div>
                    <div class="col-lg-4 center1">

                        

                            <div style="display: inline">
                                <img src="{% static 'peacock.jpg'%}"  style=" width: 60px ;height: 60px;" alt="logo2">
                            </div>
                            <div style="display: inline">
                                    &nbsp;&nbsp;
                                <div style="display: inline ;"><b>Report / Guide</b> 
                                    <div style="margin-left:80px;margin-top: -20px;">
                                        from ₹ 500
                                    </div>
                                </div>
                            </div>
                        

                        
                        <br>
                        
                        Typically 450-400 words,an e-book is
                        <br>
                        perfect for your target audience ranging <br>
                        from prospective customers to user <br>
                        <br>
                        <button class="btn btn-default button1" >Order</button>
                        
                </div>
                <div class="col-lg-4 center1" style="border-right-width: 0px;">

                        

                        <div style="display: inline">
                            <img src="{% static 'peacock.jpg'%}"  style=" width: 60px ;height: 60px;" alt="logo2">
                        </div>
                        <div style="display: inline">
                                &nbsp;&nbsp;
                            <div style="display: inline ;"><b>Product Desciption</b> 
                                <div style="margin-left:80px;margin-top: -20px;">
                                    from ₹ 500
                                </div>
                            </div>
                        </div>
                    

                    
                    <br>
                    
                    Typically 450-400 words,an e-book is
                    <br>
                    perfect for your target audience ranging <br>
                    from prospective customers to user <br>
                    <br>
                    <button class="btn btn-default button1"  >Order</button>
                    
                </div>

</div>
        
<div class="row">
        <div class="col-lg-4 center1">

            

            <div style="display: inline">
                <img src="{% static 'peacock.jpg'%}" style=" width: 60px ;height: 60px;" alt="logo2">
            </div>
            <div style="display: inline">
                    &nbsp;&nbsp;
                <div style="display: inline ;"><b>Website Content</b> 
                    <div style="margin-left:80px;margin-top: -20px;">
                        from ₹ 500
                    </div>
                </div>
            </div>
        

        
                <br>
                
                Typically 450-400 words,an e-book is
                <br>
                perfect for your target audience ranging <br>
                from prospective customers to user <br>
                <br>
                <button class="btn btn-default button1" >Order</button>
                
          </div>
            <div class="col-lg-4 center1">

                

                    <div style="display: inline">
                        <img src="{% static 'peacock.jpg'%}"  style=" width: 60px ;height: 60px;" alt="logo2">
                    </div>
                    <div style="display: inline">
                            &nbsp;&nbsp;
                        <div style="display: inline ;"><b>Video Script</b> 
                            <div style="margin-left:80px;margin-top: -20px;">
                                from ₹ 500
                            </div>
                        </div>
                    </div>
                

                
                <br>
                
                Typically 450-400 words,an e-book is
                <br>
                perfect for your target audience ranging <br>
                from prospective customers to user <br>
                <br>
                <button class="btn btn-default button1" >Order</button>
                
        </div>
        <div class="col-lg-4 center1" style="border-right-width: 0px;">

                

                <div style="display: inline">
                    <img src="{% static 'peacock.jpg'%}"  style=" width: 60px ;height: 60px;" alt="logo2">
                </div>
                <div style="display: inline">
                        &nbsp;&nbsp;
                    <div style="display: inline ;"><b>Company Profile / Brochure</b> 
                        <div style="margin-left:80px;margin-top: -20px;">
                            from ₹ 500
                        </div>
                    </div>
                </div>
            

            
            <br>
            
            Typically 450-400 words,an e-book is
            <br>
            perfect for your target audience ranging <br>
            from prospective customers to user <br>
            <br>
            <button class="btn btn-default button1"  >Order</button>
            
        </div>



        <div class="row">
                <div class="col-lg-4 center1" style="margin-top: 30px; margin-left:-10px; ">

                    

                    <div style="display: inline">
                        <img src="{% static 'peacock.jpg'%}"  style=" width: 60px ;height: 60px;" alt="logo2">
                    </div>
                    <div style="display: inline">
                            &nbsp;&nbsp;
                        <div style="display: inline ;"><b>Press Release</b> 
                            <div style="margin-left:80px;margin-top: -20px;">
                                from ₹ 500
                            </div>
                        </div>
                    </div>
                

                
                        <br>
                        
                        Typically 450-400 words,an e-book is
                        <br>
                        perfect for your target audience ranging <br>
                        from prospective customers to user <br>
                        <br>
                        <button class="btn btn-default button1" >Order</button>
                        
                  </div>
                

        </div>
        

</div>

          
                  
             
    </div>
      


    {% endblock %}